In [1]:
import numpy as np
import pandas as pd
import ast

In [2]:
credits_df=pd.read_csv("./tmdb_datasets/tmdb_5000_credits.csv")
movies_df=pd.read_csv("./tmdb_datasets/tmdb_5000_movies.csv")

In [3]:
credits_df.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [4]:
movies_df.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [5]:
#Combine both dataset on the basis of title column
movies_df=movies_df.merge(credits_df,on='title')

In [6]:
print(movies_df.shape)
movies_df.head(1)

(4809, 23)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
movies_df.isnull().sum()

budget                     0
genres                     0
homepage                3096
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
movie_id                   0
cast                       0
crew                       0
dtype: int64

In [8]:
columns=list(movies_df.columns)
print(columns)

['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language', 'original_title', 'overview', 'popularity', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'vote_average', 'vote_count', 'movie_id', 'cast', 'crew']

In [9]:
"""The columns which will not have much impact on the recommendation of movie for an user will be:
   budget, homepage, original_language, original_title, popularity ,production_companies,production_countries ,release_date
   'revenue', 'runtime', 'spoken_languages', 'status','vote_average', 'vote_count','tagline'
"""

movies_df_new=movies_df[['movie_id','title','genres','overview','cast','crew','keywords']]

In [10]:
movies_df_new.head(1)

,movie_id,title,genres,overview,cast,crew,keywords
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."

In [11]:
columns_new=list(movies_df_new.columns)
print(columns_new)

['movie_id', 'title', 'genres', 'overview', 'cast', 'crew', 'keywords']

In [12]:
movies_df_new.isnull().sum()

movie_id    0
title       0
genres      0
overview    3
cast        0
crew        0
keywords    0
dtype: int64

In [13]:
#Drop null value
movies_df_new.dropna(inplace=True)

C:\Users\Pragy\AppData\Local\Temp\ipykernel_20968\3231265970.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df_new.dropna(inplace=True)

In [14]:
movies_df_new.isnull().sum()

movie_id    0
title       0
genres      0
overview    0
cast        0
crew        0
keywords    0
dtype: int64

In [15]:
for column in columns_new:
    print("The type of element in {} is {}".format(column,type(movies_df_new[column][0])))

The type of element in movie_id is <class 'numpy.int64'>
The type of element in title is <class 'str'>
The type of element in genres is <class 'str'>
The type of element in overview is <class 'str'>
The type of element in cast is <class 'str'>
The type of element in crew is <class 'str'>
The type of element in keywords is <class 'str'>

In [16]:
print(movies_df_new['genres'][0])

[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]

In [17]:
print(ast.literal_eval(movies_df_new['genres'][0]))

[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 878, 'name': 'Science Fiction'}]

In [18]:
def extract_genres(string):
    # print(type(string))
    # print(string)
    string=ast.literal_eval(string)
    gen=[]
    for genre in string:
        gen.append(genre['name'])
    return gen

In [19]:
length=movies_df_new.shape[0]
print(length)

4806

In [20]:
movies_df_new['genres']=movies_df_new['genres'].apply(extract_genres)
print(movies_df_new['genres'][0])

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

C:\Users\Pragy\AppData\Local\Temp\ipykernel_20968\4187458460.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df_new['genres']=movies_df_new['genres'].apply(extract_genres)

In [21]:
print(type(movies_df_new['genres'][0]))

<class 'list'>

In [22]:
movies_df_new.head(1)

,movie_id,title,genres,overview,cast,crew,keywords
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."

In [23]:
print(type(movies_df_new['cast'][0]))
print(movies_df_new['cast'][0])

<class 'str'>
[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch's Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]

In [24]:
def convert_cast(casts):
    casts=ast.literal_eval(casts)
    c=[]
    for cast in casts:
        c.append(cast['name'])
    return c

In [25]:
print(convert_cast((movies_df_new['cast'][0])))

['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver', 'Stephen Lang', 'Michelle Rodriguez', 'Giovanni Ribisi', 'Joel David Moore', 'CCH Pounder', 'Wes Studi', 'Laz Alonso', 'Dileep Rao', 'Matt Gerald', 'Sean Anthony Moran', 'Jason Whyte', 'Scott Lawrence', 'Kelly Kilgour', 'James Patrick Pitt', 'Sean Patrick Murphy', 'Peter Dillon', 'Kevin Dorman', 'Kelson Henderson', 'David Van Horn', 'Jacob Tomuri', 'Michael Blain-Rozgay', 'Jon Curry', 'Luke Hawker', 'Woody Schultz', 'Peter Mensah', 'Sonia Yee', 'Jahnel Curfman', 'Ilram Choi', 'Kyla Warren', 'Lisa Roumain', 'Debra Wilson', 'Chris Mala', 'Taylor Kibby', 'Jodie Landau', 'Julie Lamm', 'Cullen B. Madden', 'Joseph Brady Madden', 'Frankie Torres', 'Austin Wilson', 'Sara Wilson', 'Tamica Washington-Miller', 'Lucy Briant', 'Nathan Meister', 'Gerry Blair', 'Matthew Chamberlain', 'Paul Yates', 'Wray Wilson', 'James Gaylyn', 'Melvin Leno Clark III', 'Carvon Futrell', 'Brandon Jelkes', 'Micah Moch', 'Hanniyah Muhammad', 'Christopher Nolen', 'Christa Oliver', 'April Marie Thomas', 'Bravita A. Threatt', 'Colin Bleasdale', 'Mike Bodnar', 'Matt Clayton', 'Nicole Dionne', 'Jamie Harrison', 'Allan Henry', 'Anthony Ingruber', 'Ashley Jeffery', 'Dean Knowsley', 'Joseph Mika-Hunt', 'Terry Notary', 'Kai Pantano', 'Logan Pithyou', 'Stuart Pollock', 'Raja', 'Gareth Ruck', 'Rhian Sheehan', 'T. J. Storm', 'Jodie Taylor', 'Alicia Vela-Bailey', 'Richard Whiteside', 'Nikie Zambo', 'Julene Renee']

In [26]:
movies_df_new['cast']=movies_df_new['cast'].apply(convert_cast)

C:\Users\Pragy\AppData\Local\Temp\ipykernel_20968\2646703950.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df_new['cast']=movies_df_new['cast'].apply(convert_cast)

In [27]:
print(type(movies_df_new['cast'][0]))
print(movies_df_new['cast'][0])

<class 'list'>
['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver', 'Stephen Lang', 'Michelle Rodriguez', 'Giovanni Ribisi', 'Joel David Moore', 'CCH Pounder', 'Wes Studi', 'Laz Alonso', 'Dileep Rao', 'Matt Gerald', 'Sean Anthony Moran', 'Jason Whyte', 'Scott Lawrence', 'Kelly Kilgour', 'James Patrick Pitt', 'Sean Patrick Murphy', 'Peter Dillon', 'Kevin Dorman', 'Kelson Henderson', 'David Van Horn', 'Jacob Tomuri', 'Michael Blain-Rozgay', 'Jon Curry', 'Luke Hawker', 'Woody Schultz', 'Peter Mensah', 'Sonia Yee', 'Jahnel Curfman', 'Ilram Choi', 'Kyla Warren', 'Lisa Roumain', 'Debra Wilson', 'Chris Mala', 'Taylor Kibby', 'Jodie Landau', 'Julie Lamm', 'Cullen B. Madden', 'Joseph Brady Madden', 'Frankie Torres', 'Austin Wilson', 'Sara Wilson', 'Tamica Washington-Miller', 'Lucy Briant', 'Nathan Meister', 'Gerry Blair', 'Matthew Chamberlain', 'Paul Yates', 'Wray Wilson', 'James Gaylyn', 'Melvin Leno Clark III', 'Carvon Futrell', 'Brandon Jelkes', 'Micah Moch', 'Hanniyah Muhammad', 'Christopher Nolen', 'Christa Oliver', 'April Marie Thomas', 'Bravita A. Threatt', 'Colin Bleasdale', 'Mike Bodnar', 'Matt Clayton', 'Nicole Dionne', 'Jamie Harrison', 'Allan Henry', 'Anthony Ingruber', 'Ashley Jeffery', 'Dean Knowsley', 'Joseph Mika-Hunt', 'Terry Notary', 'Kai Pantano', 'Logan Pithyou', 'Stuart Pollock', 'Raja', 'Gareth Ruck', 'Rhian Sheehan', 'T. J. Storm', 'Jodie Taylor', 'Alicia Vela-Bailey', 'Richard Whiteside', 'Nikie Zambo', 'Julene Renee']

In [28]:
print(type(movies_df_new['crew'][0]))
print(movies_df_new['crew'][0])

<class 'str'>

In [29]:
def list_departments(crews):
    crews=ast.literal_eval(crews)
    for crew in crews:
        print(crew['department'],"  And his name is : ",crew['name'])

In [30]:
(list_departments((movies_df_new['crew'][0])))

Editing   And his name is :  Stephen E. Rivkin
Art   And his name is :  Rick Carter
Sound   And his name is :  Christopher Boyes
Sound   And his name is :  Christopher Boyes
Production   And his name is :  Mali Finn
Sound   And his name is :  James Horner
Directing   And his name is :  James Cameron
Writing   And his name is :  James Cameron
Editing   And his name is :  James Cameron
Production   And his name is :  James Cameron
Writing   And his name is :  James Cameron
Art   And his name is :  Andrew Menzies
Visual Effects   And his name is :  Jill Brooks
Production   And his name is :  Margery Simkin
Art   And his name is :  Kevin Ishioka
Sound   And his name is :  Dick Bernstein
Sound   And his name is :  Shannon Mills
Sound   And his name is :  Dennie Thorpe
Sound   And his name is :  Jana Vance
Costume & Make-Up   And his name is :  Deborah Lynn Scott
Production   And his name is :  Jon Landau
Art   And his name is :  Sean Haworth
Art   And his name is :  Kim Sinclair
Art   And his name is :  Kim Sinclair
Art   And his name is :  Richard F. Mays
Production   And his name is :  Laeta Kalogridis
Costume & Make-Up   And his name is :  Mayes C. Rubeo
Camera   And his name is :  Mauro Fiore
Art   And his name is :  Scott Herbertson
Crew   And his name is :  Woody Schultz
Costume & Make-Up   And his name is :  Linda DeVetta
Costume & Make-Up   And his name is :  Linda DeVetta
Camera   And his name is :  Richard Bluck
Art   And his name is :  Simon Bright
Visual Effects   And his name is :  Richard Martin
Crew   And his name is :  Steve R. Moore
Editing   And his name is :  John Refoua
Art   And his name is :  Karl J. Martin
Camera   And his name is :  Chiling Lin
Crew   And his name is :  Ilram Choi
Visual Effects   And his name is :  Steven Quale
Crew   And his name is :  Carla Meyer
Art   And his name is :  Nick Bassett
Art   And his name is :  Jill Cormack
Art   And his name is :  Andy McLaren
Crew   And his name is :  Terry Notary
Crew   And his name is :  Garrett Warren
Visual Effects   And his name is :  Jonathan Rothbart
Art   And his name is :  Stefan Dechant
Art   And his name is :  Todd Cherniawsky
Production   And his name is :  Miranda Rivers
Art   And his name is :  Robert Stromberg
Costume & Make-Up   And his name is :  John Harding
Camera   And his name is :  Roberto De Angelis
Costume & Make-Up   And his name is :  Mike Smithson
Visual Effects   And his name is :  Alain Lalanne
Visual Effects   And his name is :  Lucas Salton
Crew   And his name is :  Janace Tashjian
Visual Effects   And his name is :  Stephen Rosenbaum
Costume & Make-Up   And his name is :  Frankie Karena
Costume & Make-Up   And his name is :  Lisa Lovaas
Visual Effects   And his name is :  Jonathan Fawkner
Art   And his name is :  Robert Bavin
Costume & Make-Up   And his name is :  Anthony Almaraz
Costume & Make-Up   And his name is :  Carolyn M. Fenton
Costume & Make-Up   And his name is :  Beth Koenigsberg
Art   And his name is :  Sam Page
Art   And his name is :  Tex Kadonaga
Editing   And his name is :  Kim Foscato
Art   And his name is :  Tammy S. Lee
Crew   And his name is :  Denny Caira
Crew   And his name is :  James Waitkus
Sound   And his name is :  Addison Teague
Art   And his name is :  C. Scott Baker
Art   And his name is :  Luke Caska
Art   And his name is :  David Chow
Art   And his name is :  Jonathan Dyer
Art   And his name is :  Joseph Hiura
Art   And his name is :  Rebecca Jellie
Art   And his name is :  Robert Andrew Johnson
Art   And his name is :  Mike Stassi
Art   And his name is :  John Villarino
Art   And his name is :  Jeffrey Wisniewski
Editing   And his name is :  Cheryl Nardi
Editing   And his name is :  Marshall Winn
Sound   And his name is :  Gwendolyn Yates Whittle
Sound   And his name is :  William Stein
Crew   And his name is :  Lula Washington
Visual Effects   And his name is :  Chris Del Conte
Visual Effects   And his name is :  R. Christopher White
Visual Effects   And his name is :  Dan Lemmon
Sound   And his name is :  Tim Nielsen
Crew   And his name is :  Michael Mulholland
Crew   And his name is :  Thomas Nittmann
Visual Effects   And his name is :  Edson Williams
Editing   And his name is :  Christine Carr
Visual Effects   And his name is :  John Bruno
Camera   And his name is :  David Emmerichs
Sound   And his name is :  Christopher Scarabosio
Production   And his name is :  Jennifer Teves
Production   And his name is :  Brigitte Yorke
Sound   And his name is :  Ken Fischer
Crew   And his name is :  Iain Hutton
Crew   And his name is :  Steve Ingram
Visual Effects   And his name is :  Joyce Cox
Visual Effects   And his name is :  Jenny Foster
Crew   And his name is :  Christopher Marino
Crew   And his name is :  Jim Milton
Visual Effects   And his name is :  Cyndi Ochs
Crew   And his name is :  Lucas Putnam
Visual Effects   And his name is :  Anthony 'Max' Ivins
Visual Effects   And his name is :  John Knoll
Visual Effects   And his name is :  Eric Saindon
Visual Effects   And his name is :  Wayne Stables
Visual Effects   And his name is :  David Stinnett
Visual Effects   And his name is :  Guy Williams
Crew   And his name is :  Stuart Thorp
Lighting   And his name is :  Giles Coburn
Camera   And his name is :  Mark Fellman
Lighting   And his name is :  Scott Sprague
Visual Effects   And his name is :  Jeremy Hollobon
Visual Effects   And his name is :  Orlando Meunier
Visual Effects   And his name is :  Taisuke Tanimura
Costume & Make-Up   And his name is :  Lilia Mishel Acevedo
Costume & Make-Up   And his name is :  Alejandro M. Hernandez
Editing   And his name is :  Marvin Hall
Production   And his name is :  Judy Alley
Crew   And his name is :  Mike Perry
Crew   And his name is :  Andrew Morley
Art   And his name is :  Seth Engstrom
Crew   And his name is :  Eric Oliver
Visual Effects   And his name is :  Matsune Suzuki
Art   And his name is :  Paul Tobin
Costume & Make-Up   And his name is :  Roxane Griffin
Lighting   And his name is :  Arun Ram-Mohan
Costume & Make-Up   And his name is :  Georgia Lockhart-Adams
Crew   And his name is :  Thrain Shadbolt
Crew   And his name is :  Brad Alexander
Crew   And his name is :  Shadi Almassizadeh
Crew   And his name is :  Simon Clutterbuck
Crew   And his name is :  Graeme Demmocks
Crew   And his name is :  Adrian Fernandes
Crew   And his name is :  Mitch Gates
Crew   And his name is :  Jerry Kung
Crew   And his name is :  Andy Lomas
Crew   And his name is :  Sebastian Marino
Crew   And his name is :  Matthias Menz
Crew   And his name is :  Sergei Nevshupov
Crew   And his name is :  Philippe Rebours
Crew   And his name is :  Michael Takarangi
Crew   And his name is :  David Weitzberg
Crew   And his name is :  Ben White
Crew   And his name is :  Min Windle

In [31]:
def convert_crew(crews):
    crews=ast.literal_eval(crews)
    c=[]
    for crew in crews:
        if(crew['department']=="Directing"):
         c.append(crew['name'])
         break
    return c

In [32]:
print(convert_crew((movies_df_new['crew'][0])))

['James Cameron']

In [33]:
movies_df_new['crew']=movies_df_new['crew'].apply(convert_crew)

C:\Users\Pragy\AppData\Local\Temp\ipykernel_20968\3123972376.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df_new['crew']=movies_df_new['crew'].apply(convert_crew)

In [34]:
movies_df_new.head()

,movie_id,title,genres,overview,cast,crew,keywords
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski],"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."
2,206647,Spectre,"[Action, Adventure, Crime]",A cryptic message from Bondâ€™s past sends him o...,"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux, R...",[Sam Mendes],"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",Following the death of District Attorney Harve...,"[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan],"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]","John Carter is a war-weary, former military ca...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton],"[{""id"": 818, ""name"": ""based on novel""}, {""id"":..."

In [35]:
def extract_keywords(keywords):
    keywords=ast.literal_eval(keywords)
    key=[]
    for keyword in keywords:
        key.append(keyword['name'])
    return key

In [36]:
movies_df_new['keywords']=movies_df_new['keywords'].apply(extract_keywords)

C:\Users\Pragy\AppData\Local\Temp\ipykernel_20968\1212792245.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df_new['keywords']=movies_df_new['keywords'].apply(extract_keywords)

In [37]:
movies_df_new.head()

,movie_id,title,genres,overview,cast,crew,keywords
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],"[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski],"[ocean, drug abuse, exotic island, east india ..."
2,206647,Spectre,"[Action, Adventure, Crime]",A cryptic message from Bondâ€™s past sends him o...,"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux, R...",[Sam Mendes],"[spy, based on novel, secret agent, sequel, mi..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",Following the death of District Attorney Harve...,"[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan],"[dc comics, crime fighter, terrorist, secret i..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]","John Carter is a war-weary, former military ca...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton],"[based on novel, mars, medallion, space travel..."

In [38]:
movies_df_new['key']=movies_df_new['genres']+movies_df_new['keywords']+movies_df_new['cast']+movies_df_new['crew']

C:\Users\Pragy\AppData\Local\Temp\ipykernel_20968\1674822638.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df_new['key']=movies_df_new['genres']+movies_df_new['keywords']+movies_df_new['cast']+movies_df_new['crew']

In [39]:
movies_df_new.head()

,movie_id,title,genres,overview,cast,crew,keywords,key
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],"[culture clash, future, space war, space colon...","[Action, Adventure, Fantasy, Science Fiction, ..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski],"[ocean, drug abuse, exotic island, east india ...","[Adventure, Fantasy, Action, ocean, drug abuse..."
2,206647,Spectre,"[Action, Adventure, Crime]",A cryptic message from Bondâ€™s past sends him o...,"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux, R...",[Sam Mendes],"[spy, based on novel, secret agent, sequel, mi...","[Action, Adventure, Crime, spy, based on novel..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",Following the death of District Attorney Harve...,"[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan],"[dc comics, crime fighter, terrorist, secret i...","[Action, Crime, Drama, Thriller, dc comics, cr..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]","John Carter is a war-weary, former military ca...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton],"[based on novel, mars, medallion, space travel...","[Action, Adventure, Science Fiction, based on ..."

In [40]:
movies_df_new['overview'] = movies_df_new['overview'].apply(lambda x:x.split())

C:\Users\Pragy\AppData\Local\Temp\ipykernel_20968\1731785957.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df_new['overview'] = movies_df_new['overview'].apply(lambda x:x.split())

In [41]:
movies_df_new.head()

,movie_id,title,genres,overview,cast,crew,keywords,key
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],"[culture clash, future, space war, space colon...","[Action, Adventure, Fantasy, Science Fiction, ..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski],"[ocean, drug abuse, exotic island, east india ...","[Adventure, Fantasy, Action, ocean, drug abuse..."
2,206647,Spectre,"[Action, Adventure, Crime]","[A, cryptic, message, from, Bondâ€™s, past, send...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux, R...",[Sam Mendes],"[spy, based on novel, secret agent, sequel, mi...","[Action, Adventure, Crime, spy, based on novel..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan],"[dc comics, crime fighter, terrorist, secret i...","[Action, Crime, Drama, Thriller, dc comics, cr..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[John, Carter, is, a, war-weary,, former, mili...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton],"[based on novel, mars, medallion, space travel...","[Action, Adventure, Science Fiction, based on ..."

In [42]:
new_df=movies_df_new[['movie_id','title','overview','key']]

In [43]:
new_df.head()

,movie_id,title,overview,key
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction, ..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action, ocean, drug abuse..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime, spy, based on novel..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller, dc comics, cr..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction, based on ..."

In [44]:
def remove_space(strings):
    s=[]
    for string in strings:
       s.append(string.replace(" ",""))
    return s

In [45]:
new_df['key']=new_df['key'].apply(remove_space)

C:\Users\Pragy\AppData\Local\Temp\ipykernel_20968\790253429.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['key']=new_df['key'].apply(remove_space)

In [46]:
print(new_df['key'][0])

['Action', 'Adventure', 'Fantasy', 'ScienceFiction', 'cultureclash', 'future', 'spacewar', 'spacecolony', 'society', 'spacetravel', 'futuristic', 'romance', 'space', 'alien', 'tribe', 'alienplanet', 'cgi', 'marine', 'soldier', 'battle', 'loveaffair', 'antiwar', 'powerrelations', 'mindandsoul', '3d', 'SamWorthington', 'ZoeSaldana', 'SigourneyWeaver', 'StephenLang', 'MichelleRodriguez', 'GiovanniRibisi', 'JoelDavidMoore', 'CCHPounder', 'WesStudi', 'LazAlonso', 'DileepRao', 'MattGerald', 'SeanAnthonyMoran', 'JasonWhyte', 'ScottLawrence', 'KellyKilgour', 'JamesPatrickPitt', 'SeanPatrickMurphy', 'PeterDillon', 'KevinDorman', 'KelsonHenderson', 'DavidVanHorn', 'JacobTomuri', 'MichaelBlain-Rozgay', 'JonCurry', 'LukeHawker', 'WoodySchultz', 'PeterMensah', 'SoniaYee', 'JahnelCurfman', 'IlramChoi', 'KylaWarren', 'LisaRoumain', 'DebraWilson', 'ChrisMala', 'TaylorKibby', 'JodieLandau', 'JulieLamm', 'CullenB.Madden', 'JosephBradyMadden', 'FrankieTorres', 'AustinWilson', 'SaraWilson', 'TamicaWashington-Miller', 'LucyBriant', 'NathanMeister', 'GerryBlair', 'MatthewChamberlain', 'PaulYates', 'WrayWilson', 'JamesGaylyn', 'MelvinLenoClarkIII', 'CarvonFutrell', 'BrandonJelkes', 'MicahMoch', 'HanniyahMuhammad', 'ChristopherNolen', 'ChristaOliver', 'AprilMarieThomas', 'BravitaA.Threatt', 'ColinBleasdale', 'MikeBodnar', 'MattClayton', 'NicoleDionne', 'JamieHarrison', 'AllanHenry', 'AnthonyIngruber', 'AshleyJeffery', 'DeanKnowsley', 'JosephMika-Hunt', 'TerryNotary', 'KaiPantano', 'LoganPithyou', 'StuartPollock', 'Raja', 'GarethRuck', 'RhianSheehan', 'T.J.Storm', 'JodieTaylor', 'AliciaVela-Bailey', 'RichardWhiteside', 'NikieZambo', 'JuleneRenee', 'JamesCameron']

In [47]:
new_df.head(1)

,movie_id,title,overview,key
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction, c..."

In [48]:
new_df['final_key']=new_df['key']+new_df['overview']

C:\Users\Pragy\AppData\Local\Temp\ipykernel_20968\48674912.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['final_key']=new_df['key']+new_df['overview']

In [49]:

print(len(new_df['final_key'][0]))

137

In [50]:
new_df['final_key'] = new_df['final_key'].apply(lambda x: " ".join(x))

C:\Users\Pragy\AppData\Local\Temp\ipykernel_20968\3261835219.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['final_key'] = new_df['final_key'].apply(lambda x: " ".join(x))

In [51]:
new_df.head()

,movie_id,title,overview,key,final_key
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction, c...",Action Adventure Fantasy ScienceFiction cultur...
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action, ocean, drugabuse,...",Adventure Fantasy Action ocean drugabuse exoti...
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime, spy, basedonnovel, ...",Action Adventure Crime spy basedonnovel secret...
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller, dccomics, cri...",Action Crime Drama Thriller dccomics crimefigh...
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction, basedonnov...",Action Adventure ScienceFiction basedonnovel m...

In [52]:
new_df.drop(columns=['overview','key'],inplace=True)

C:\Users\Pragy\AppData\Local\Temp\ipykernel_20968\270975673.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.drop(columns=['overview','key'],inplace=True)

In [53]:
new_df.head()

,movie_id,title,final_key
0,19995,Avatar,Action Adventure Fantasy ScienceFiction cultur...
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action ocean drugabuse exoti...
2,206647,Spectre,Action Adventure Crime spy basedonnovel secret...
3,49026,The Dark Knight Rises,Action Crime Drama Thriller dccomics crimefigh...
4,49529,John Carter,Action Adventure ScienceFiction basedonnovel m...

In [54]:
print(new_df['final_key'].shape)

(4806,)

In [55]:
#Now we wiil build recoomendation model
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(stop_words='english',)

In [56]:
vector=vectorizer.fit_transform(new_df['final_key']).toarray()

In [57]:
print(vector.shape)

(4806, 83781)

In [58]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vector)

In [59]:
print(type(similarity))

<class 'numpy.ndarray'>

In [60]:
similarity

array([[1.        , 0.02992528, 0.01577201, ..., 0.01071497, 0.01186615,
        0.        ],
       [0.02992528, 1.        , 0.03162278, ..., 0.0143223 , 0.        ,
        0.        ],
       [0.01577201, 0.03162278, 1.        , ..., 0.01132277, 0.        ,
        0.        ],
       ...,
       [0.01071497, 0.0143223 , 0.01132277, ..., 1.        , 0.05111244,
        0.03176204],
       [0.01186615, 0.        , 0.        , ..., 0.05111244, 1.        ,
        0.03517444],
       [0.        , 0.        , 0.        , ..., 0.03176204, 0.03517444,
        1.        ]], shape=(4806, 4806))

In [61]:
new_df.head()

,movie_id,title,final_key
0,19995,Avatar,Action Adventure Fantasy ScienceFiction cultur...
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action ocean drugabuse exoti...
2,206647,Spectre,Action Adventure Crime spy basedonnovel secret...
3,49026,The Dark Knight Rises,Action Crime Drama Thriller dccomics crimefigh...
4,49529,John Carter,Action Adventure ScienceFiction basedonnovel m...

In [68]:
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:4]:
        print(new_df.iloc[i[0]].title)

In [69]:
recommend("Avatar")

Titan A.E.
Predators
The Helix... Loaded

In [70]:
recommend("The Dark Knight Rises")

Batman Returns
The Dark Knight
Batman Forever

In [71]:
import pickle
pickle.dump(new_df,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))